@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

// @import url(https://fonts.googleapis.com/css?family=Dosis:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

$grey: #ababab;
// $red: #F1433F; true
// $red: #37469d; purple
// $red: #007dc5; blue
//$red: #2F585D; green
$red: #28909d;
$darkGrey: #2f3537;

body {
  padding-top: 70px;
  padding-bottom: 70px;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.gmap {
  width: 100%;
  height: 500px;
}

.infobox {
  margin-top: 8px;
  color: black;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  padding: .5em 1em;
  max-width: 200px;
  float: right;
}

.infobox-image {
  max-width: 200px;
}

.form-errors {
  display: block;
  height: 20px;
  color: $darkGrey;
}

.logo {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: -1px 4px 25px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 4px 25px -4px rgba(0,0,0,0.75);
  box-shadow: -1px 4px 25px -4px rgba(0,0,0,0.75);
}

.container .jumbotron{
  border-radius: 1px;
}

.form-control{
  border-radius: 1px;
}

.input-group-addon{
  border-radius: 1px;
  color: $red;
}

.placeholder{
  color: $grey;
}

.btn-primary {
  //@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  @include button-variant(white, $red, $red);
  border: 0px;
}

.btn-primary:focus{
  outline: none;
}

.btn-primary:active:focus{
  outline: none;
}

.form-control::-webkit-input-placeholder {
   color: $grey;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: $grey;
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: $grey;
}

.form-control:-ms-input-placeholder {
   color: $grey;
}

select option:first-child{
  color: grey; display: none;
}
select option{
  color: #555; // bootstrap default color
}

select{
  -webkit-appearance: none;
  border-radius: 1px;
}

fieldset{
  background-color: rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.6);
  padding: 20px 20px 40px 20px;
  border-radius: 1px;
  -webkit-box-shadow: -1px 4px 25px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 4px 25px -4px rgba(0,0,0,0.75);
  box-shadow: -1px 4px 25px -4px rgba(0,0,0,0.75);
}

#search-well-custom {
  min-width: 360px;
  margin-top: 15px;
  margin-bottom: 15px;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus, #guest-select:focus, #filter-select:focus {
    border-color: $red;
    box-shadow: 0 1px 1px $red inset, 0 0 8px $red;
    outline: 0 none;
}

// results page

// tab style

ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li{
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li.current{
  background: #ededed;
  color: #222;
}

.tab-content{
  display: none;
  background: #ededed;
  padding: 15px;
}

.tab-content.current{
  display: inherit;
}

.col-listings {
  padding-left: 0px;
  padding-right: 0px;
}

.col-map{
  position: fixed;
  right: 0;
  padding-left: 0px;
  padding-right: 0px;
  width: 25%;
}

//pinterest grid style

#demo {
  position: relative;
  max-width: 100%;
  width: 100%;
}

#demo2 {
  position: relative;
  max-width: 100%;
  width: 100%;
}

.no-padding {
  padding: 0px;
  margin: 0px;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
}
#pin-grid-img {
  width: 100%;
  max-width: 350px;
  height: auto;
  padding-right: 10px;
}
#pin-grid-text {
  margin-top: 0px;
  margin-bottom: 0px;
}
.white-panel {
  position: absolute;
  background: white;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  padding: 10px;
}
.white-panel h1 {
  font-size: 1em;
}
.white-panel h1 a {
  color: #A92733;
}
.white-panel:hover {
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  margin-top: -5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
